<div class="grid grid-cols-2 gap-4 mt-4 max-w-[500px]">
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Denumire:</h3>
        <p>{{denumire}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">CUI:</h3>
        <p>{{cui}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Cod CAEN:</h3>
        <p>{{cod_CAEN}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Adresa:</h3>
        <p>{{adresa}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Cod Postal:</h3>
        <p>{{codPostal}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Numar Angajati:</h3>
        <p>{{nr_employees}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Data Inregistrare:</h3>
        <p>{{data_inregistrare}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Numar Registrul Comertului:</h3>
        <p>{{nrRegCom}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Stare Inregistrare:</h3>
        <p>{{stare_inregistrare}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Forma de Proprietate:</h3>
        <p>{{forma_de_proprietate}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Forma Juridica:</h3>
        <p>{{forma_juridica}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Forma Organizare:</h3>
        <p>{{forma_organizare}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Organ Fiscal Competent:</h3>
        <p>{{organFiscalCompetent}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Telefon:</h3>
        <p>{{telefon}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Fax:</h3>
        <p>{{fax}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">IBAN:</h3>
        <p>{{iban}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Last Querry Date:</h3>
        <p>{{last_querry_date}}</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <h3 class="text-md font-medium text-wrap">Status RO e Factura:</h3>
        <p>{{statusRO_e_Factura}}</p>
    </div>
</div>